<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MachineReference</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">
            <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            MachineReference
        </span>
        <a class="navbar-text" href="https://github.com/funcid/MachineReference" target="_blank">
            <img src="/assets/github.svg" width="24" height="24" class="d-inline-block align-top" alt="GitHub repository">
            Source code
        </a>
    </div>
</nav>

<div class="container">
    <b>Машина создана!</b><br>
    <a href="/">Вернуться</a>
</div>
</body>
</html>